/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/* @charset 'UTF-8'; */
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../images/.-ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/fonts-slick.eot');
    src: url('../fonts/fonts-slick.eot?#iefix') format('embedded-opentype'), url('../fonts/fonts-slick.woff') format('woff'), url('../fonts/fonts-slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,figure,header,nav,section,article,aside,footer,figcaption{margin:0;padding:0;border:0;outline:0}html,body{width:100%;height:100%;background:#191919;overflow:hidden}.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.clearfix{display:inline-block}ol,ul{list-style:none}header,nav,section,article,aside,footer{display:block}*{box-sizing:border-box}body{font-family:"Open Sans",sans-serif;font-size:16px;font-weight:400;line-height:1.625em;color:#848485;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{font-family:"Poppins",sans-serif;color:#fff;font-weight:500}h1,.h1{font-size:30px}h2,.h2{font-size:24px}h3,.h3{font-size:18px}h4,.h4{font-size:16px}h5,.h5{font-size:14px}h6,.h6{font-size:12px}img{max-width:100%;height:auto}a{color:#848485}a:hover,a:hover,a:focus{outline:0;text-decoration:none}.overlay{position:absolute;left:0;right:0;top:0;bottom:0}.btn{padding:12px 20px;border-radius:3px;font-size:16px;display:inline-block;font-weight:500;text-transform:capitalize;border:none;position:relative;z-index:1;cursor:pointer}.btn:focus,.btn:active{outline:0px;box-shadow:none !important}a, :after, :before, .transition, .service-item .service-icon:before, .service-item .service-icon:after{-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.custom-btn{background:#656565;color:#191919;font-weight:bold;border-radius:50px;font-size:15px;padding:13px 29px;line-height:normal;overflow:hidden;position:relative;z-index:1}.custom-btn:after{content:'';height:1px;width:1px;border-radius:50%;transform:translate(-50%, -50%);position:absolute;left:35px;top:50%;z-index:-1;transition:all 0.5s}.custom-btn:hover{color:#fff !important}.custom-btn:hover:after{height:400px;width:400px}a:hover, .text-color, .blog-content ul li a, .testimonial_carousel:before, .work-inner .filters ul li:hover, .work-inner .filters ul li.active{color:#4caf56}.section-title{margin-bottom:60px}.section-title h2{position:relative}.section-title h2 span{font-size:20px;padding:10px 15px 7px;overflow:hidden;position:relative;z-index:1}.section-title h2 span em:before{content:'';background:rgba(101, 101, 101, .1);width:99%;height:100%;border-left:1px solid #4caf56;border-right:1px solid #4caf56;position:absolute;top:0;left:0}.sub-title{margin-bottom:15px;position:relative;font-size:20px;color:#fff;min-height:51px;font-weight:500;display:inline-block;font-family:"Poppins",sans-serif}.sub-title span{position:relative}.sub-title span:after, .sub-title span:before{content:"";width:40px;height:1px;position:absolute;top:-5px;left:-16px}.sub-title span:after{top:auto;left:auto;bottom:-5px;right:-16px}.homepage,.content{position:relative;top:10%;bottom:10%;height:80%;width:100%;overflow-y:scroll;padding:0 20px}.content{display:none}#preloader{left:0;right:0;top:0;bottom:0;position:fixed;z-index:9999;background-color:#191919}.loader{background-color:rgba(255,255,255,.2);width:50px;height:50px;top:0;left:0;bottom:0;right:0;margin:auto;position:absolute}.loader:before{content:"";height:10px;width:10px;margin:auto;border-radius:10px;position:absolute;animation:preloader 2s ease-in-out infinite}.loader:after{content:"";height:50px;width:0px;opacity:1;position:absolute;top:0px;left:0px;margin:auto;animation:preloader-2 5s ease-in-out infinite}@keyframes preloader{0%{left:-12px;top:-12px}25%{left:52px;top:-12px}50%{left:52px;top:52px}75%{left:-12px;top:52px}100%{left:-12px;top:-12px}}@keyframes preloader-2{0%{width:0px}70%{width:50px;opacity:1}90%{opacity:0;width:50px}100%{opacity:0;width:0px}}.custom-nav{left:0;top:0;bottom:0;background:url(../images/bg-menu-bg.jpg);background-size:cover;position:fixed;padding:40px 20px;max-width:250px;width:100%;z-index:99}.custom-nav>[class*="container"]{flex-direction:column;align-items:stretch;min-height:100%;padding-left:0;padding-right:0}.custom-nav .navbar-nav{flex-direction:column;margin-left:15px;padding:0}.custom-nav .navbar-nav li{padding:10px 0}.custom-nav .navbar-nav a{display:inline-block;color:#fff;font-size:15px;letter-spacing:0.5px;text-transform:capitalize}.custom-nav .navbar-nav a span{display:inline-block;position:relative}.rect{height:1px;width:0px;left:0;bottom:5.5px;-webkit-transition:-webkit-transform 0.1s, width 0.6s;-moz-transition:-webkit-transform 0.1s, width 0.6s;transition:transform 0.1s, width 0.6s}.circle{margin-right:5px;height:10px;width:10px;left:0px;top:-1px;border-radius:50%;background-color:transparent;border:2px solid #4caf56}.custom-nav .navbar-nav .current .rect{width:30px}.custom-nav .menu-socials-links a{color:rgba(255,255,255,0.8)}.menu-socials-links{position:absolute;bottom:30px;max-width:250px}.menu-socials-links i{width:40px;height:40px;border:1px solid rgba(255, 255, 255, 0.5);display:inline-block;text-align:center;padding-top:12px;border-radius:100%}.menu-socials-links i:hover{border-color:#4caf56;color:#fff !important}.mobile-bar{height:50px;width:50px;border-radius:50%;left:0px;position:fixed;display:none;z-index:999;top:0px}.mobile-menu{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;width:25px;height:50px;cursor:pointer}.bar{position:relative;transform:translateY(25px);transition:all 0 300ms}.bar:after,.bar:before{content:"";position:absolute;left:0}.bar:before{bottom:10px;transition:bottom 300ms 300ms cubic-bezier(0.23,1,0.32,1), transform 300ms cubic-bezier(0.23,1,0.32,1)}.bar:after{top:10px;transition:top 300ms 300ms cubic-bezier(0.23,1,0.32,1), transform 300ms cubic-bezier(0.23,1,0.32,1)}.bar.animate{background:rgba(255,255,255,0)}.bar.animate:before{bottom:0;transform:rotate(-45deg);transition:bottom 300ms cubic-bezier(0.23,1,0.32,1), transform 300ms 300ms cubic-bezier(0.23,1,0.32,1)}.bar.animate:after{top:0;transform:rotate(45deg);transition:top 300ms cubic-bezier(0.23,1,0.32,1), transform 300ms 300ms cubic-bezier(0.23,1,0.32,1)}.bar,.bar:after,.bar:before{width:25px;height:3px}nav.animate{left:0}.site-wrapper{padding:0 20px;height:100vh}.custom-nav:not([style*="display: none"])~.site-wrapper{margin-left:250px}.homepage{padding:0}.homepage .home-inner{height:100%;padding:0 20px}.home-inner .animated-up-text{margin-bottom:20px;display:inline-block;padding:2px 8px;background:#4caf56;background:linear-gradient(to right,#4caf56,#4caf56,transparent);font-size:14px;line-height:20px;color:#fefefe;font-weight:400;border-radius:2px}.home-inner .animated{font-size:40px;position:relative;line-height:50px}.home-inner .animated .animated-info{display:inline-block;vertical-align:top;min-width:287px;position:relative}.animated-item{line-height:inherit;display:block;opacity:0;overflow:hidden;position:absolute;top:0;right:0;left:0;animation:BottomTotop 6s linear infinite 0s}.animated-item:nth-child(2n+2){animation-delay:2s}.animated-item:nth-child(3n+3){animation-delay:4s}@keyframes BottomTotop{0%{opacity:0}5%{opacity:0;transform:translateY(5px)}10%{opacity:1;transform:translateY(0px)}25%{opacity:1;transform:translateY(0px)}30%{opacity:0;transform:translateY(5px)}80%{opacity:0}100%{opacity:0}}.about-inner .info-list{margin-bottom:30px}.info-list ul li{padding:11px 0;position:relative;display:block;vertical-align:top;width:auto;word-break:break-word;text-align:right}.info-list ul li:first-child{padding-top:0}.info-list ul li:last-child{padding-bottom:0}.info-list ul li:before{content:'';position:absolute;left:0;bottom:0;width:100%;height:1px;background:-webkit-radial-gradient(center,ellipse cover,#656565 0%,rgba(255,255,255,0) 70%);background:-moz-radial-gradient(center,ellipse cover,#656565 0%,rgba(255,255,255,0) 70%);background:-o-radial-gradient(center,ellipse cover,#656565 0%,rgba(255,255,255,0) 70%);background:-ms-radial-gradient(center,ellipse cover,#656565 0%,rgba(255,255,255,0) 70%);background:radial-gradient(ellipse at center,#656565 0%,rgba(255,255,255,0) 70%)}.info-list ul li:last-child:before{display:none}.info-list ul li strong{float:left;margin-right:8px;padding:1px 8px;font-size:14px;line-height:20px;color:#fefefe;font-weight:400;border-radius:2px}.single-skill .progressbar-title{display:inline-block;margin:0px 0 10px}.single-skill .progress{height:15px;background:#d6d6d6;margin-bottom:25px;border-radius:0;box-shadow:none;overflow:visible;position:relative}.single-skill:last-child .progress{margin-bottom:0}.single-skill .progress:after{content:"";width:100%;height:100%;background:#191919;position:absolute;bottom:-1px;left:0;right:0;transform:skew(1deg) rotate(1deg);transform-origin:left bottom 0}.single-skill .progress .progress-bar{position:relative}.single-skill .progress .progress-value{font-size:17px;color:#848485;position:absolute;top:-28px;right:27px}.counter{font-size:30px}.counter-single i{font-size:35px;line-height:57px}.counter-single h2{font-weight:initial}.testimonial_carousel{border:solid 1px #4caf56;padding:25px;position:relative;margin-bottom:0 !important}.testimonial_carousel .testimonial_author{display:inline-block;position:relative;padding:15px 60px}.testimonial_carousel .testimonial_author img{position:absolute;border-radius:50%;left:0;width:50px;height:50px}.testimonial_carousel .testimonial_author h3{font-size:17px;padding-top:10px}.testimonial_carousel .testimonial_author .position{margin:0;padding:0;font-size:13px;font-weight:400;text-transform:capitalize}.testimonial_carousel:before{content:"f086";font-family:"FontAwesome";position:absolute;top:-10px;background-color:#191919;padding:0 35px;font-size:22px;left:15px;line-height:0.8}.testimonial_carousel .slick-dots{position:absolute;bottom:50px;right:15px;left:auto;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:right}.testimonial_carousel .slick-dots li{position:relative;display:inline-block;width:11px;height:10px;margin:0 1px;padding:0;cursor:pointer}.testimonial_carousel .slick-dots li button{position:relative;display:inline-block;width:6px;height:6px;border-radius:50%;margin:0 1px;opacity:0.5;padding:0;cursor:pointer}.testimonial_carousel .slick-dots li button:before{content:"";opacity:0}.testimonial_carousel .slick-dots li.slick-active button{opacity:1}.service-item{position:relative;padding:35px 25px 35px 90px}.service-icon{width:50px;height:60px;line-height:60px;font-size:30px;text-align:center;border:2px solid #4caf56;position:absolute;top:55px;left:20px}.service-item:hover .service-icon{transform:translateY(20px)}.service-item .service-icon:before, .service-item .service-icon:after{content:"";height:2px;position:absolute;top:-20px;left:10px;right:10px}.service-item .service-icon:after{top:auto;bottom:-20px;left:10px;right:10px}.service-item:hover .service-icon:before{top:-25px;transform:rotate(90deg)}.service-item:hover .service-icon:after{transform:rotate(-90deg);bottom:-25px}.service-desc{position:relative}.service-items .service-box:last-child:after, .service-items .service-box:nth-last-child(2):after{display:none}.service-items.border-line-v:after{margin:0 0 0 -1px;content:'';position:absolute;left:50%;top:0;width:1px;height:100%}.service-items .service-item .name{margin-bottom:15px}.resume-title{padding:0 0 30px;position:relative}.resume-title .icon i{display:block;line-height:40px}.resume-title .icon{position:relative;top:-13px;float:left;width:40px;height:40px;font-size:25px;background:#191919}.resume-title .name{margin:0 0 0 40px;line-height:14px;color:#fff;font-size:18px;font-weight:500;text-transform:uppercase}.resume-items .resume-item{position:relative;padding:30px 0}.resume-items .resume-item:last-child:after{display:none}.resume-items .resume-item .date{margin:0 0 11px;padding:0 5px;position:relative;display:inline-block;vertical-align:top;font-size:13px;line-height:18px;color:#656565;font-weight:400;border:1px solid #656565}.resume-items .resume-item .name{margin:0;font-size:17px;color:#fff;font-weight:500}.resume-items .resume-item .company{margin:0 0 11px;font-size:14px;color:#999;font-weight:400}.resume .border-line-v:before{content:'';position:absolute;left:-1px;top:0;width:1px;height:100%}.resume-items .resume-item.active .date{color:#4caf56;border-color:#4caf56}.resume-items .resume-item:last-child{padding-bottom:0}.work-inner .filters ul li{list-style:none;display:inline-block;padding:15px;cursor:pointer;position:relative;text-transform:capitalize}.work-inner .filters ul li:last-child{padding-right:0}.work-inner .filters-content .show{opacity:1;visibility:visible;transition:all 350ms}.filters-content{overflow:hidden}.work-inner .filters-content .hide{opacity:0;visibility:hidden;transition:all 350ms}.work-inner .grid .single-work:first-of-type, .work-inner .grid .single-work:nth-of-type(2), .work-inner .grid .single-work:nth-of-type(3){margin-bottom:30px}.work-inner .filters-content img{border-radius:10px;width:100%}.single-work{border-radius:5px}.single-work .thumb .overlay-bg{opacity:0;border-radius:5px}.single-work .thumb .image{opacity:1;display:block;width:100%;height:100%;backface-visibility:hidden}.single-work .middle{transition: .5s ease;opacity:0;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);text-align:center}.single-work .middle h4{font-size:19px;color:#fff}.single-work .middle .cat{font-size:15px;color:#fff}.single-work:hover .thumb .overlay-bg{opacity: .95}.single-work:hover .middle{opacity:1}.blog-img img{width:100%}.blog-content{overflow:hidden;padding:20px 30px}.blog-content ul{margin-bottom:10px}.blog-content h3{font-size:17px;margin-bottom:20px;text-transform:capitalize}.blog-content ul li{display:inline-block;margin-right:10px}.blog-content ul li a{display:block;font-size:13px}.blog-content p{margin-bottom:15px}.blog-content a{display:inline-block;float:right}.contact-section .box .icon{width:70px;height:70px;margin:0 auto;margin-bottom:10px;border-radius:50%}.contact-section .box .icon span{color:#fff;font-size:30px}.contact-section .box h4{font-size:17px}.contact-form{padding:45px}.contact-form form .input{height:50px;width:100%;background:transparent;border:none;border-bottom:1px solid #656565;color:#848485;letter-spacing:0;margin-bottom:16px}.contact-form form .input:focus{outline:none;border-bottom-color:#4caf56}.contact-form form textarea#msg{height:74px}.contact-form form #send{width:130px;height:40px;border-radius:20px;display:block;text-align:center;line-height:40px;color:#fff;border:none;letter-spacing:0.01em}.contact-address{padding:45px 0 0 20px}.bar, .bar:after, .bar:before, .loader:after, .loader:before, .custom-btn:after, .sub-title span:after, .sub-title span:before, .info-list ul li strong, .contact-form form #send, .navbar-nav .current span, .contact-section .box .icon, .menu-socials-links i:hover, .single-work .thumb .overlay-bg, .service-item .service-icon:before, .service-item .service-icon:after, .custom-nav .navbar-nav a:hover span, .single-skill .progress .progress-bar, .testimonial_carousel .slick-dots li button{background-color:#4caf56}.custom-nav,.homepage,.content{-webkit-box-shadow:0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);-moz-box-shadow:0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);-o-box-shadow:0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);-ms-box-shadow:0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);box-shadow:0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)}.work-inner,.blog-inner,.about-inner,.resume-inner,.counter-inner,.contact-inner,.services-inner,.testimonial-inner{padding:40px 0}.homepage::-webkit-scrollbar,.content::-webkit-scrollbar{width:6px;height:8px;background-color:#191919}.homepage:hover::-webkit-scrollbar-thumb,.content:hover::-webkit-scrollbar-thumb{background:rgba(250, 250, 250, 0.5)}.resume .border-line-v:before,.service-items.border-line-v:after{background:-moz-radial-gradient(top,ellipse cover,#656565 0%,rgba(255,255,255,0) 70%);background:-webkit-radial-gradient(top,ellipse cover,#656565 0%,rgba(255,255,255,0) 70%);background:radial-gradient(ellipse at top,#656565 0%,rgba(255,255,255,0) 70%)}.resume-title:after, .resume-items .resume-item:after, .service-items .service-box:after{content:'';position:absolute;left:0;bottom:0;width:100%;height:1px;background:-moz-radial-gradient(center,ellipse cover,#656565 0%,rgba(255,255,255,0) 70%);background:-webkit-radial-gradient(center,ellipse cover,#656565 0%,rgba(255,255,255,0) 70%);background:radial-gradient(ellipse at center,#656565 0%,rgba(255,255,255,0) 70%)}
@media screen and (max-width: 991px){.mobile-bar{display:block}.custom-nav{left:-100%}.custom-nav:not([style*="display: none"])~.site-wrapper{margin-left:0px}.person-img{display:none}.about-details{margin-bottom:50px}.blog-inner .blog-container:not(:last-child) .blog-single, .contact-info .contact-info-container:not(:last-child) .box, .counter-inner .counter-container:not(:last-child):not(:nth-last-child(2)) .counter-single{margin-bottom:40px}.work-inner .grid .single-work:nth-of-type(4){margin-bottom:30px}.contact-address{padding:45px}}@media only screen and (min-width: 768px) and (max-width: 991px){}@media only screen and (max-width: 767px){.counter-inner .counter-container:nth-last-child(2) .counter-single{margin-bottom:40px}.resume .experience{margin-bottom:50px}.resume .border-line-v:before,.service-items.border-line-v:after{display:none}.service-items .service-box:nth-last-child(2):after{display:block}.work-inner .grid .single-work:nth-of-type(5){margin-bottom:30px}}@media (min-width: 320px) and (max-width: 767px){}@media only screen and (min-width: 481px) and (max-width: 767px){}@media only screen and (max-width: 576px){}@media only screen and (min-width: 240px) and (max-width: 480px){.home-inner .animated{font-size:36px}}
